In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [45]:
# dfcount = pd.read_csv("TrumpUSVisitCount.csv")
# dfcount.head()

In [46]:
# dfcount['state_id'] = dfcount.State

In [48]:
df = pd.read_csv("TrumpUS_Visits.csv")

In [49]:
states = pd.read_csv("states.csv")
states.head()

        State state_id Region            Division
0      Alaska       AK   West             Pacific
1     Alabama       AL  South  East South Central
2    Arkansas       AR  South  West South Central
3     Arizona       AZ   West            Mountain
4  California       CA   West             Pacific

In [50]:
statevisits = df.merge(states, on=['state_id'])

In [51]:
statevisits.head()

,Date of rally,city,state_id,Venue,Rating,State,Region,Division
0,"February 18, 2017",Melbourne,FL,Orlando Melbourne International Airport,Positive,Florida,South,South Atlantic
1,"December 8, 2017",Pensacola,FL,Pensacola Bay Center,Positive,Florida,South,South Atlantic
2,"July 31, 2018",Tampa,FL,Florida State Fairgrounds,Positive,Florida,South,South Atlantic
3,"October 31, 2018",Fort Myers,FL,Hertz Arena,Positive,Florida,South,South Atlantic
4,"November 3, 2018",Pensacola,FL,Pensacola International Airport,Positive,Florida,South,South Atlantic

In [52]:
statevisits_small = statevisits[['city', 'state_id', 'Venue', 'State', 'Region', 'Division']]

In [55]:
statevisits_small.Region.value_counts()

South        34
Midwest      24
West         10
Northeast     6
Name: Region, dtype: int64

In [44]:
statevisits.to_clipboard(index=False)

In [23]:
# cities = pd.read_csv("uscities.csv")
# cities.head()

In [36]:
trumprallies = df.merge(cities, on=['city', 'state_id'])

In [37]:
trumprallies.head(2)

,Date of rally,city,state_id,Venue,Rating,city_ascii,state_name,county_fips,county_name,county_fips_all,...,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,"February 18, 2017",Melbourne,FL,Orlando Melbourne International Airport,Positive,Melbourne,Florida,12009,Brevard,12009,...,-80.6627,82011.0,719.0,polygon,False,True,America/New_York,3,32901 32903 32934 32935 32904 32912 32919 32941,1840012544
1,"March 15, 2017",Nashville,TN,Nashville Municipal Auditorium,Positive,Nashville,Tennessee,47037,Davidson,47037,...,-86.7843,1076645.0,541.0,polygon,False,True,America/Chicago,1,37027 37138 37076 37072 37205 37201 37206 3724...,1840111655

In [40]:
RallyLocations = trumprallies.drop(['city_ascii', 'county_fips', 'county_fips_all', 'county_name_all', 'military', 'incorporated', 'timezone', 'ranking'], axis=1)

In [41]:
RallyLocations.to_csv('RallyLocations.csv', index=False)